{% schema %}
  {
  "name": "our-vision-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_banner",
      "label": "Hero Banner"
    }
  ],
  "presets": [
    {
      "name": "our-vision-section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
 <section class="our-vision-section">
            <div class="two-col-layout container">
                <div class="flex two-col-row">
                    <div class="two-col-content-col">
                        <div class="two-col-content-inner">
                            <div class="section-title text-center">
                                <h2>
                                    <span class="subtitle">OUR VISION</span>
                                    The Little Posy Co. was built to deliver gestures of love and expressions of human
                                    emotion, in a way that honours our
                                    natural environment.
                                </h2>
                                <a href="#" class="link-btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="two-col-img-col">
                        <div class="two-col-img-inner">
                            <img src="https://cdn.shopify.com/s/files/1/0567/9208/8666/files/flwrs2.png?v=1697445682">
                        </div>
                    </div>
                </div>
                <div class="flex two-col-row row-reverse">
                    <div class="two-col-content-col">
                        <div class="two-col-content-inner">
                            <div class="section-title text-center">
                                <h2>
                                    <span class="subtitle">SUSTAINABILITY</span>
                                    As a carbon neutral business, we’re conscious of our social and environmental
                                    footprint. For us, sustainability means
                                    working in harmony with the natural world, treating people and the planet with the
                                    utmost respect.
                                </h2>
                                <a href="#" class="link-btn">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="two-col-img-col">
                        <div class="two-col-img-inner">
                            <img src="https://cdn.shopify.com/s/files/1/0567/9208/8666/files/pro2.jpg?v=1697445681">
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% javascript %}
{% endjavascript %}