{% schema %}
  {
  "name": "our-gifts",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_banner",
      "label": "Hero Banner"
    }
  ],
  "presets": [
    {
      "name": "our-gifts"
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
<section class="our-gifts">
            <div class="container">
                <div class="section-title text-center">
                    <h2>
                        <span class="subtitle">OUR GIFTS</span>
                        Explore our beautiful Australian made or designed gifts, perfect for any occasion.
                    </h2>
                    <a href="#" class="link-btn">VIEW ALL</a>
                </div>
                <div class="gift-slider">
                    <div class="product-widget">
                        <div class="product-widget-inner text-center">
                            <div class="product-img-box">
                                <a href="#" class="product-img">
                                    <img src="images/pro1.jpeg">
                                </a>
                                <div class="product-img-hover">
                                    <a href="#">SHOP NOW</a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6><a href="#">Chin Chin</a></h6>
                                <p class="price">
                                    $96.00
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="product-widget">
                        <div class="product-widget-inner text-center">
                            <div class="product-img-box">
                                <a href="#" class="product-img">
                                    <img src="images/pro2.jpeg">
                                </a>
                                <div class="product-img-hover">
                                    <a href="#">SHOP NOW</a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6><a href="#">Chin Chin</a></h6>
                                <p class="price">
                                    $96.00
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="product-widget">
                        <div class="product-widget-inner text-center">
                            <div class="product-img-box">
                                <a href="#" class="product-img">
                                    <img src="images/pro3.jpeg">
                                </a>
                                <div class="product-img-hover">
                                    <a href="#">SHOP NOW</a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6><a href="#">Chin Chin</a></h6>
                                <p class="price">
                                    $96.00
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="product-widget">
                        <div class="product-widget-inner text-center">
                            <div class="product-img-box">
                                <a href="#" class="product-img">
                                    <img src="images/pro4.png">
                                </a>
                                <div class="product-img-hover">
                                    <a href="#">SHOP NOW</a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6><a href="#">Chin Chin</a></h6>
                                <p class="price">
                                    $96.00
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="product-widget">
                        <div class="product-widget-inner text-center">
                            <div class="product-img-box">
                                <a href="#" class="product-img">
                                    <img src="images/pro4.png">
                                </a>
                                <div class="product-img-hover">
                                    <a href="#">SHOP NOW</a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6><a href="#">Chin Chin</a></h6>
                                <p class="price">
                                    $96.00
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% javascript %}
{% endjavascript %}